apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  labels:
    app: jellyfin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      restartPolicy: Always
      volumes:
        - name: library
          persistentVolumeClaim:
            claimName: jellyfin-library
        - name: movies
          persistentVolumeClaim:
            claimName: movies
        - name: tvseries
          persistentVolumeClaim:
            claimName: tvseries
      containers:
        - name: jellyfin
          image: lscr.io/linuxserver/jellyfin:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8096
          resources:
            limits:
              memory: 4Gi
              cpu: 4
            requests:
              memory: 2Gi
              cpu: 1
          volumeMounts:
            - name: library
              mountPath: /config
            - name: movies
              mountPath: /data/movies
            - name: tvseries
              mountPath: /data/tvseries
          env:
            - name: "PUID"
              value: "1000"
            - name: "PGID"
              value: "1000"
            - name: "TZ"
              value: "America/Sao_Paulo"
